.login-from{
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-input{
    
    text-align: left;
    
}